<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":2},{"col":3,"row":1,"size_x":1,"size_y":2},{"col":4,"row":2,"size_x":1,"size_y":1}]')
 });
 </script>
<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>Live monitoring<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/squareW.png" style="background: lightgrey;">
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="icinga-hosts" data-view="Simplemon" data-title="Hosts in monitoring" onclick="window.open('https://localhost/monitoring/list/hosts','Monitoring');"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="2">
      <div data-id="icinga-hosts-latest" data-view="Table" data-title="Host problems" class="icinga-latest-problems"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="2">
      <div data-id="icinga-services-latest" data-view="Table" data-title="Service problems" class="icinga-latest-problems"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="icinga-services" data-view="Simplemon" data-title="Monitored services" onclick="window.open('https://localhost/monitoring/list/services','Monitoring');"></div>
    </li>
  </ul>
</div>
